<configuration>
    <!-- Define the console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the root logger -->
    <root level="INFO"> <!-- Set to INFO or another default level for non-security logs -->
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Define a logger specifically for security-related messages -->
    <logger name="io.micronaut.security" level="DEBUG"/>

    <!-- Define a logger for Micronaut Data to print SQL queries -->
    <logger name="io.micronaut.data" level="DEBUG"/>
</configuration>
